.container__small-card{
    width: 330px;
    margin-bottom: 37px;
  }
  
  .container__small-card-content{
    display: flex;
    flex-direction: row;
  }

  .small-card__photo{
    width: 200px;
    margin-right: 10px;
  }
  
  .small-card__photo > img {
    width: 200px;
    min-width: 200px;
    
  }
  
  .small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container__small-card__separator{
    margin-top: 3px;
  }

  .small-card__title > h1{
    font-size: 17px;
  }