.menu_posts_sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu_posts-list > ul{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

.menu_posts-list > ul > li{
    margin-right: 20px;
    list-style: none;
}