*{
    color: black;
}

header{
    padding: 15px;
}

.container_home{
    margin-left: 50px;
    margin-right: 50px;
}

.container_articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    
}

.articles_main{
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}
