<div class="container_menu-bar">
    <div class="menu-bar-logo">
        imagem
    </div>
    <div class="menu-bar-list">
        <ul>
            <li>
                <a href="">
                    Home
                </a>
            </li>
    
            <li>
    
                <a href="">
                    Contact
                </a>
            </li>
    
            <li>
    
                <button>
                    Contrate-nos
                </button>
            </li>
    
    
        </ul>

    </div>
    

</div>
